body, html {
  background:#bababa;
  margin: 0;
  padding: 0;
  min-width:100%;
  min-height:100%;
  font-family: tahoma, arial;
}
h1{
  color:#ffc200;
  background-color:#7b7b7b;
  border:2px solid #5d5a54;
  text-align:center;
}
li{
  
  display:inline;
  list-style-type:none;
  margin:5px;
  padding:0;
  
  
}
a{
  text-decoration:none;
  font-weight:bold;
  text-align:center;
  margin:5px,auto;
  background-color:#ffc200;
  color:#5d5a54;
  border:1.5px solid #5d5a54;
  border-radius:5px;
  
}
.wrap{
  position:relative;
  background-color:#ffffd6;
  display:grid;
  grid-template-columns:repeat(3,1fr);
  grid-gap:1em;
}
.wrap > div{
  
  margin:0.8em;
  padding:0.8em;
  background:#7b7b7b;
  border-radius:5px;
}
.wrap > div:nth-child(odd){
  background:#bababa;
}

#footer{
  position:relative;
  background-color:rgba(255,194,0,.28);
  color:#7b7b7b;
  border:1px solid #5d5a54;
  text-align:center;
  width:100%;
}
