body, html {
  background:#bababa;
  margin: 0;
  padding: 0;
  min-width:100%;
  min-height:100%;
  font-family: tahoma, arial;
}
h1{
  color:#ffc200;
  background-color:#7b7b7b;
  border:2px solid #5d5a54;
  text-align:center;
  margin-top:30px;
  width:100%;
}
#htext{
  overflow:visible;
  font-size:5em;
  height:80px;
  line-height:0.5em;
} 
span{
  color:#5d5a54;
}
.meni{
 text-align:right;
  padding-right:5px;
}
ul{
  margin-bottom:0;
}
li{
  
  display:inline-block;
  list-style-type:none;
  margin:0;
  padding:0;
}
a{
  text-decoration:none;
  font-weight:;
  text-align:center;
  margin:0;
  padding:4px;
  background-color:#ffc200;
  color:#121210;
  border:1.5px solid #5d5a54;
  border-radius:5px;
  width:100px;
  
  
}
.wrap{
  position:relative;
  background-color:#5d5a54;
  border-top:1px solid #5d5a54;
  border-radius:5px;
  display:grid;
  grid-template-columns:repeat(3,1fr);
  grid-gap:0;
}
.wrap > div{
  
  margin:0.5em;
  padding:0.8em;
  background:#7b7b7b;
  border-radius:5px;
}
.wrap > div:nth-child(odd){
  background:#bababa;
}

#footer{
  position:relative;
  background-color:#ffc200;
  color:#121210;
  border:1px solid #5d5a54;
  text-align:center;
  width:100%;
}
